<!-- 
<div class="form-group">
 
 <div class="col-xs-3">

	<label for="name">First Name</label>
	<input type="text" [(ngModel)]="f_name" class="form-control" id="f_name" 
       name="f_name" required> 

    <label for="name">Last Name</label>
	<input type="text" [(ngModel)]="l_name" class="form-control" id="l_name" 
       name="l_name" required> 

     <br>  

  <button type="button" class="btn btn-primary" (click)="clicked()">
                      Post Button
            </button>

<br><br><br>

{{ NameTest }}

<br><br><br>

<p>Output: {{ getData }} </p>

  <button type="button" class="btn btn-primary" (click)="clicktogetdata()">
                      Get Button
                    </button>

 </div>
</div>


 -->