<div class="body">
			<!-- <?php 
				include 'header.php';
			?> -->
			<div role="main" class="main">
				
				<section class="page-header page-header-light page-header-more-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>What We Do</h1>
								<ul class="breadcrumb breadcrumb-valign-mid">
									<li><a href="demo-real-estate.html">Home</a></li>
									<li><a href="#">About</a></li>
									<li class="active">What We Do</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

								<h4 class="heading-primary">Categories</h4>
								<ul class="nav nav-list mb-xl show-bg-active">
									<li class="active"><a data-hash data-hash-offset="85" href="#first">K Sera Sera Digital Cinema Limited</a></li>
									<li><a data-hash data-hash-offset="85" href="#second">K Sera Sera Miniplex Limited</a>
										
									</li>
									<li><a data-hash data-hash-offset="85" href="#third">Birla Jewels Limited</a></li>
									<li><a data-hash data-hash-offset="85" href="#fourth">Birla Gold & Precious Metals Ltd.</a></li>
									<li><a data-hash data-hash-offset="85" href="#fifth">Citigold Corporation Limited</a></li>
								</ul>

							</aside>
						</div>

						<div class="col-md-9">
							<div class="row mt-xlg">
								<div align="center" class="col-md-12">
									<div style="margin-bottom: 0px !important;" class="heading heading-border heading-middle-border heading-middle-border-center">
										<h4 id="first"><strong>K SERA SERA</strong> Digital Cinema Limited</h4>
									</div>
									<ul class="breadcrumb" style="background-color: #fff !important;">
										<li><a href="#">2nd Largest Digital Technology Providers to Indian Cinema</a></li>
									</ul>
								</div>
							</div>

							<img width="400" class="img-responsive pull-right ml-xl mb-xl mt-xs" alt="" src="js/assets/carvan_assets/img/demos/real-estate/HD-cinema-kss-limited.jpg">

							<p>Our proprietary SkyCinex outputs HD quality 1920×1080 resolution video and uncompressed audio with an emphasis on picture quality that greatly lowers the stress on the eyes.</p>

							<p>KSS digital reach out to more than 100 million viewers a year, which makes it an exciting channel for advertisers. </p>

							<p>As a major player in Indian cinema, KSS group releases 3000 plus films every year through its Digital Technology.</p>

							<p>SkyCinex Technology has taken the traditional cinema experience to new heights.</p>

							<p>We offers exciting business and operational advantages to exhibitors and entrepreneurs.</p>
						

						
							<div class="row mt-xlg">
								<div class="col-md-12">
									<div class="heading heading-border heading-middle-border heading-middle-border-center">
										<h4 id="second"><strong>K SERA SERA</strong> Miniplex Limited</h4>
									</div>
								</div>
							</div>

							<img width="400" class="img-responsive pull-right ml-xl mb-xl mt-xs" alt="" src="js/assets/carvan_assets/img/demos/real-estate/agency.jpg">

							<p>A path breaking company, set up with the objective of offering consultancy services to define the Miniplex business model: including planning, setup, screening, operations and marketing.</p>

							<p>The scope of services also covers assistance in revenue generation from the box office, Food & Beverages, education and in-cinema advertising.</p>

							<p>KSS Miniplex offers 100% Multiplex Experience at just 50% cost for the Theatre Viewer.</p>

							<p>We're building over 100 high end Cinema Theatres across the Country, with 28 theatres already operational.</p>
					
					
						
							<div class="row mt-xlg">
								<div class="col-md-12">
									<div class="heading heading-border heading-middle-border heading-middle-border-center">
										<h4 id="third">Birla Jewels Limited</h4>
									</div>
								</div>
							</div>

							<img width="400" class="img-responsive pull-right ml-xl mb-xl mt-xs" alt="" src="js/assets/carvan_assets/img/demos/real-estate/birla-jewels-store.jpg">

							<p>Birla Jewels limited a premium jewellery retail company, with the brand name “BJEWELZ”, is opening over 500 jewellery outlets across India, and has the vision to revolutionize the Jewellery Retail Industry and emerge amongst the Premier jewellery retail chains in the Country.</p>
						
						
							<div class="row mt-xlg">
								<div class="col-md-12">
									<div class="heading heading-border heading-middle-border heading-middle-border-center">
										<h4 id="fourth">Birla Gold & Precious Metals Limited</h4>
									</div>
								</div>
							</div>

							<img width="400" class="img-responsive pull-right ml-xl mb-xl mt-xs" alt="" src="js/assets/carvan_assets/img/demos/real-estate/cherishgold-com-worlds-largest-virtual-jewelery-mall.jpg">

							<p>Established in 2014, Birla Gold & Precious Metals Ltd is a unique company born out of the great Indian wisdom of investing in Gold for a secure future. BGPML is in the primary business of Jewellery Retail and E-Commerce.</p>

							<p>CHERISH GOLD a Virtual Jewellery mall with over 30 thousands of brilliantly crafted and intricately created, eye dazzling designs, manufactured by Best Jewellery Houses of India.</p>

							<p>CHERISHLIFESTYLES – The Ultimate E-Commerce Platform which aims to offer a bouquet of various products and services which suits all your family needs.</p>
						
							<div class="row mt-xlg">
								<div class="col-md-12">
									<div class="heading heading-border heading-middle-border heading-middle-border-center">
										<h4 id="fifth">Citigold Corporation Limited</h4>
									</div>
								</div>
							</div>

							<img width="400" class="img-responsive pull-right ml-xl mb-xl mt-xs" alt="" src="js/assets/carvan_assets/img/demos/real-estate/citigold-mine.jpg">

							<p>Citigold Corporation Limited is a gold exploration, development and mining company lisid="first"ted on the Australian Securities Exchange (ASX). The aim is to be a high profit gold producer, efficiently and sustainably producing 220,000 ounces of gold each year.</p>

							<p>Citigold is a growth company that aims to a growing cash flow from gold mining operations and the huge capital growth upside of an exploration company seeking to define up to 50 million ounces of gold.</p>
						</div>
					</div>
				</div>

			<!-- 	<?php 
				include 'footer.php';
				?> -->
			</div>
		</div>
