		<div class="body">
			
			<div role="main" class="main">
				
				<section class="page-header page-header-light page-header-more-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>Login</h1>
								<ul class="breadcrumb breadcrumb-valign-mid">
									<li><a href="demo-real-estate.html">Home</a></li>
									<li class="active">Login</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<form id="contactForm" action="" method="POST">
								<input type="hidden" value="Contact Form" name="subject" id="subject">
								<div class="row">
									<div class="form-group">
										<div class="col-md-4">
											<label>Email/Mobile/Username *</label>
											<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
										</div>
										<div class="col-md-4">
											<label>Password *</label>
											<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
										</div>

									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<input type="submit" value="Login" class="btn btn-secondary mb-xlg" data-loading-text="Loading...">
									</div>
								</div>
							</form>
						</div>
						

					</div>

				</div>

			</div>
		</div>