<div class="body">
			<!-- <?php 
				include 'header.php';
			?> -->
			<div role="main" class="main">
				
				<section class="page-header page-header-light page-header-more-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>Movies Schedule<!-- <span>Listings for Sale or Rent - 123 properties --></h1>
								<ul class="breadcrumb breadcrumb-valign-mid">
									<li><a href="demo-real-estate.html">Home</a></li>
									<li class="active">Movies Schedule</li>
								</ul>
							</div>
						</div>
						<div class="row mt-lg">
							<div class="col-md-12">

								<form id="propertiesForm" action="#" method="POST">
									<div class="row">
										<div class="col-md-2">
											<div class="form-control-custom mb-md">
												<select class="form-control text-uppercase font-size-sm" name="propertiesPropertyType" data-msg-required="This field is required." id="propertiesPropertyType" required="">
													<option value="">State</option>
													<option value="1">State1</option>
													<option value="2">State2</option>
												</select>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-control-custom mb-md">
												<select class="form-control text-uppercase font-size-sm" name="propertiesLocation" data-msg-required="This field is required." id="propertiesLocation" required="">
													<option value="">District</option>
													<option value="1">Miami</option>
													<option value="2">New York</option>
													<option value="3">Houston</option>
													<option value="4">Los Angeles</option>
												</select>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-control-custom mb-md">
												<select class="form-control text-uppercase font-size-sm" name="propertiesMinBeds" data-msg-required="This field is required." id="propertiesMinBeds" required="">
													<option value="">Tehsil</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
												</select>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-control-custom mb-md">
												<select class="form-control text-uppercase font-size-sm" name="propertiesMinPrice" data-msg-required="This field is required." id="propertiesMinPrice" required="">
													<option value="">Gram Panchayat</option>
													<option value="150000">$150,000</option>
													<option value="200000">$200,000</option>
													<option value="250000">$250,000</option>
													<option value="300000">$300,000</option>
													<option value="350000">$350,000</option>
													<option value="400000">$400,000</option>
													<option value="450000">$450,000</option>
													<option value="500000">$500,000</option>
													<option value="550000">$550,000</option>
													<option value="600000">$600,000</option>
													<option value="650000">$650,000</option>
													<option value="700000">$700,000</option>
													<option value="750000">$750,000</option>
													<option value="800000">$800,000</option>
													<option value="850000">$850,000</option>
													<option value="900000">$900,000</option>
													<option value="950000">$950,000</option>
													<option value="1000000">$1,000,000</option>
													<option value="1250000">$1,250,000</option>
													<option value="1500000">$1,500,000</option>
													<option value="1750000">$1,750,000</option>
													<option value="2000000">$2,000,000</option>
													<option value="2250000">$2,250,000</option>
													<option value="2500000">$2,500,000</option>
													<option value="2750000">$2,750,000</option>
													<option value="3000000">$3,000,000</option>
													<option value="3250000">$3,250,000</option>
													<option value="3500000">$3,500,000</option>
													<option value="3750000">$3,750,000</option>
													<option value="4000000">$4,000,000</option>
													<option value="4250000">$4,250,000</option>
													<option value="4500000">$4,500,000</option>
													<option value="4750000">$4,750,000</option>
													<option value="5000000">$5,000,000</option>
													<option value="6000000">$6,000,000</option>
													<option value="7000000">$7,000,000</option>
													<option value="8000000">$8,000,000</option>
													<option value="9000000">$9,000,000</option>
													<option value="10000000">$10,000,000</option>
												</select>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-control-custom mb-md">
												<select class="form-control text-uppercase font-size-sm" name="propertiesMaxPrice" data-msg-required="This field is required." id="propertiesMaxPrice" required="">
													<option value="">Village</option>
													<option value="150000">$150,000</option>
													<option value="200000">$200,000</option>
													<option value="250000">$250,000</option>
													<option value="300000">$300,000</option>
													<option value="350000">$350,000</option>
													<option value="400000">$400,000</option>
													<option value="450000">$450,000</option>
													<option value="500000">$500,000</option>
													<option value="550000">$550,000</option>
													<option value="600000">$600,000</option>
													<option value="650000">$650,000</option>
													<option value="700000">$700,000</option>
													<option value="750000">$750,000</option>
													<option value="800000">$800,000</option>
													<option value="850000">$850,000</option>
													<option value="900000">$900,000</option>
													<option value="950000">$950,000</option>
													<option value="1000000">$1,000,000</option>
													<option value="1250000">$1,250,000</option>
													<option value="1500000">$1,500,000</option>
													<option value="1750000">$1,750,000</option>
													<option value="2000000">$2,000,000</option>
													<option value="2250000">$2,250,000</option>
													<option value="2500000">$2,500,000</option>
													<option value="2750000">$2,750,000</option>
													<option value="3000000">$3,000,000</option>
													<option value="3250000">$3,250,000</option>
													<option value="3500000">$3,500,000</option>
													<option value="3750000">$3,750,000</option>
													<option value="4000000">$4,000,000</option>
													<option value="4250000">$4,250,000</option>
													<option value="4500000">$4,500,000</option>
													<option value="4750000">$4,750,000</option>
													<option value="5000000">$5,000,000</option>
													<option value="6000000">$6,000,000</option>
													<option value="7000000">$7,000,000</option>
													<option value="8000000">$8,000,000</option>
													<option value="9000000">$9,000,000</option>
													<option value="10000000">$10,000,000</option>
												</select>
											</div>
										</div>
										<div class="col-md-2">
											<input type="submit" value="Search Now" class="btn btn-secondary btn-lg btn-block text-uppercase font-size-sm">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
										<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
									</div>
							
								<ul class="breadcrumb breadcrumb-valign-mid">
									<li><a href="demo-real-estate.html">State</a></li>
									<li>District</li>
									<li>Tehsil</li>
									<li>Gram Panchayat</li>
									<li class="active">Village</li>
								</ul>
								</header>
								<div class="panel-body">
									<table class="table table-bordered table-striped" id="datatable-ajax" data-url="admin/assets/ajax/ajax-datatables-sample.json">
										<thead>
											<tr>
												<th width="10%">#</th>
												<th width="30%">Movie</th>
												<th width="30%">Location (Area)</th>
												<th width="15%">Timimgs</th>
												<th width="15%">Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td width="10%">1</td>
												<td width="30%">Padmavati</td>
												<td width="30%">Near SBI Bank</td>
												<td width="15%">7.30 PM</td>
												<td width="15%">On Time</td>
											</tr>
										</tbody>
									</table>
								</div>
							</section>
						</div>
					</div>	
				</div>
			<!-- 	<?php 
				include 'footer.php';
				?> -->
			</div>
		</div>
