<header id="header" class="header-narrow" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 37, 'stickySetTop': '-37px', 'stickyChangeLogo': false}">
	<div class="header-body background-color-custom-primary pt-none pb-none">
		<div class="header-top header-top img-responsive header-top-style-3 header-top-custom background-color-custom-secondary m-none" style="background-image: 
		url(js/assets/carvan_assets/img/demos/real-estate/top-header.png);">
			<div class="container">
				<nav class="header-nav-top pull-left">
					<ul class="nav nav-pills">
						<!-- <li class="hidden-xs">
							<span class="ws-nowrap"><i class="icon-location-pin icons"></i> 315 Andheri (W), Mumbai</span>
						</li>
						<li>
							<span class="ws-nowrap"><i class="icon-call-out icons"></i> (800) 123-4567</span>
						</li> -->
						<li class="hidden-xs">
							<span class="ws-nowrap"><i class="icon-envelope-open icons"></i> 
							<a class="text-decoration-none" 
							routerLink="/info@kssboxoffice.com">info@kssboxoffice.com</a></span>
						</li>
					</ul>
				</nav>
				<nav class="header-nav-top langs pull-right mr-none">
					<ul class="nav nav-pills">
						<li>
							<a routerLink="/login" routerLinkActive="active" class="dropdown-menu-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Log In
								<i class="fa fa-sort-down"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
								<li>
									<a href="#english"><i class="fa fa-user"></i> Master Franchise</a>
								</li>
								<li>
									<a href="#espanol"><i class="fa fa-user"></i> Franchisee</a>
								</li>
								<li>
									<a href="#francaise"><i class="fa fa-user"></i> Ad. Partner</a>
								</li>
								<li>
									<a href="#francaise"><i class="fa fa-user"></i> Customer</a>
								</li>
							</ul>
						</li>
						<li class="blog">
							<a routerLink="/register" routerLinkActive="active">
								Register
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="header-container container custom-position-initial">
			<div class="header-row">
				<div class="header-column">
					<div class="header-logo">
						<a href="index.php">
							<img alt="K Sera Sera" width="170" height="55" 
			src="js/assets/carvan_assets/img/demos/real-estate/logo1.png">
						</a>
					</div>
				</div>
				<div class="header-column">
					<div class="header-row">
						<div class="header-nav">
							<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
								<i class="fa fa-bars"></i>
							</button>
							<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse m-none">
								<nav>
									<ul class="nav nav-pills" id="mainNav">
										<li class="dropdown-full-color dropdown-quaternary active">
											<a href="index.php">
												Home
											</a>
										</li>
										<li class="dropdown dropdown-full-color dropdown-quaternary">
											<a class="dropdown-toggle" href="#">
												About
											</a>
											<ul class="dropdown-menu">
												<li style=""><a routerLink="/kss-box-office-about-us" routerLinkActive="active">Company Profile </a></li>
												<!-- <li><a routerLink="/kss-box-office-who-we-are">Who We Are</a></li> -->
												<li><a routerLink="/kss-box-office-what-we-do" routerLinkActive="active">What We do</a></li>
												<li><a routerLink="/kss-box-office-management-team" routerLinkActive="active">Management Team</a></li>
											</ul>
										</li>
										<li class="dropdown dropdown-full-color dropdown-quaternary">
											<a class="dropdown-toggle" href="#">
												Business Vertical
											</a>
											<ul class="dropdown-menu">
												<li><a routerLink="/kss-box-office-production" routerLinkActive="active">Production</a></li>
												<li><a routerLink="/kss-box-office-distribution" routerLinkActive="active">Distribution</a></li>
												<li><a routerLink="/kss-box-office-film-exhibition" routerLinkActive="active">Film Exhibition</a></li>
											</ul>
										</li>
										<!-- <li class="dropdown-full-color dropdown-quaternary">
											<a href="#">
												Production
											</a>
										</li>
										<li class="dropdown-full-color dropdown-quaternary">
											<a href="#">
												Distribution
											</a>
										</li>
										<li class="dropdown-full-color dropdown-quaternary">
											<a href="#">
												Film Exhibition
											</a>
										</li> -->
										<li class="dropdown-full-color dropdown-quaternary">
											<a routerLink="/kss-box-office-filmy-caravan" routerLinkActive="active">
												Filmy Caravan
											</a>
										</li>
										<li class="dropdown-full-color dropdown-quaternary">
											<a routerLink="/kss-box-office-business-opportunity"
											routerLinkActive="active">
												Opportunity
											</a>
										</li>
										<li class="dropdown-full-color dropdown-quaternary">
											<a routerLink="/kss-box-office-contact-us" routerLinkActive="active">
												Contact Us
											</a>
										</li>
										<li class="dropdown dropdown-full-color dropdown-quaternary dropdown-mega" id="headerSearchProperties">
											<a class="dropdown-toggle" href="#">
												Movie Schedule <i class="fa fa-search"></i>
											</a>
											<ul class="dropdown-menu custom-fullwidth-dropdown-menu">
												<li>
													<div class="dropdown-mega-content">
														<form id="propertiesFormHeader" action="demo-real-estate-properties.html" method="POST">
															<div class="container p-none">
																<div class="row">
																	<div class="col-md-2">
																		<div class="form-control-custom">
																			<select class="form-control text-uppercase font-size-sm" name="propertiesPropertyType" data-msg-required="This field is required." id="propertiesPropertyType" required="">
																				<option value="">State</option>
																				<option value="1">District</option>
																				<option value="2">City</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-md-2">
																		<div class="form-control-custom">
																			<select class="form-control text-uppercase font-size-sm" name="propertiesLocation" data-msg-required="This field is required." id="propertiesLocation" required="">
																				<option value="">District</option>
																				<option value="1">Gram Panchayat</option>
																				<option value="2">Villate</option>
																				<option value="3">Houston</option>
																				<option value="4">Los Angeles</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-md-2">
																		<div class="form-control-custom">
																			<select class="form-control text-uppercase font-size-sm" name="propertiesMinBeds" data-msg-required="This field is required." id="propertiesMinBeds" required="">
																				<option value="">Tehsil</option>
																				<option value="1">1</option>
																				<option value="2">2</option>
																				<option value="3">3</option>
																				<option value="4">4</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-md-2">
																		<div class="form-control-custom">
																			<select class="form-control text-uppercase font-size-sm" name="propertiesMinPrice" data-msg-required="This field is required." id="propertiesMinPrice" required="">
																				<option value="">Gram Panchayat</option>
																				<option value="150000">$150,000</option>
																				<option value="200000">$200,000</option>
																				<option value="250000">$250,000</option>
																				<option value="300000">$300,000</option>
																				<option value="350000">$350,000</option>
																				<option value="400000">$400,000</option>
																				<option value="450000">$450,000</option>
																				<option value="500000">$500,000</option>
																				<option value="550000">$550,000</option>
																				<option value="600000">$600,000</option>
																				<option value="650000">$650,000</option>
																				<option value="700000">$700,000</option>
																				<option value="750000">$750,000</option>
																				<option value="800000">$800,000</option>
																				<option value="850000">$850,000</option>
																				<option value="900000">$900,000</option>
																				<option value="950000">$950,000</option>
																				<option value="1000000">$1,000,000</option>
																				<option value="1250000">$1,250,000</option>
																				<option value="1500000">$1,500,000</option>
																				<option value="1750000">$1,750,000</option>
																				<option value="2000000">$2,000,000</option>
																				<option value="2250000">$2,250,000</option>
																				<option value="2500000">$2,500,000</option>
																				<option value="2750000">$2,750,000</option>
																				<option value="3000000">$3,000,000</option>
																				<option value="3250000">$3,250,000</option>
																				<option value="3500000">$3,500,000</option>
																				<option value="3750000">$3,750,000</option>
																				<option value="4000000">$4,000,000</option>
																				<option value="4250000">$4,250,000</option>
																				<option value="4500000">$4,500,000</option>
																				<option value="4750000">$4,750,000</option>
																				<option value="5000000">$5,000,000</option>
																				<option value="6000000">$6,000,000</option>
																				<option value="7000000">$7,000,000</option>
																				<option value="8000000">$8,000,000</option>
																				<option value="9000000">$9,000,000</option>
																				<option value="10000000">$10,000,000</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-md-2">
																		<div class="form-control-custom">
																			<select class="form-control text-uppercase font-size-sm" name="propertiesMaxPrice" data-msg-required="This field is required." id="propertiesMaxPrice" required="">
																				<option value="">Village</option>
																				<option value="150000">$150,000</option>
																				<option value="200000">$200,000</option>
																				<option value="250000">$250,000</option>
																				<option value="300000">$300,000</option>
																				<option value="350000">$350,000</option>
																				<option value="400000">$400,000</option>
																				<option value="450000">$450,000</option>
																				<option value="500000">$500,000</option>
																				<option value="550000">$550,000</option>
																				<option value="600000">$600,000</option>
																				<option value="650000">$650,000</option>
																				<option value="700000">$700,000</option>
																				<option value="750000">$750,000</option>
																				<option value="800000">$800,000</option>
																				<option value="850000">$850,000</option>
																				<option value="900000">$900,000</option>
																				<option value="950000">$950,000</option>
																				<option value="1000000">$1,000,000</option>
																				<option value="1250000">$1,250,000</option>
																				<option value="1500000">$1,500,000</option>
																				<option value="1750000">$1,750,000</option>
																				<option value="2000000">$2,000,000</option>
																				<option value="2250000">$2,250,000</option>
																				<option value="2500000">$2,500,000</option>
																				<option value="2750000">$2,750,000</option>
																				<option value="3000000">$3,000,000</option>
																				<option value="3250000">$3,250,000</option>
																				<option value="3500000">$3,500,000</option>
																				<option value="3750000">$3,750,000</option>
																				<option value="4000000">$4,000,000</option>
																				<option value="4250000">$4,250,000</option>
																				<option value="4500000">$4,500,000</option>
																				<option value="4750000">$4,750,000</option>
																				<option value="5000000">$5,000,000</option>
																				<option value="6000000">$6,000,000</option>
																				<option value="7000000">$7,000,000</option>
																				<option value="8000000">$8,000,000</option>
																				<option value="9000000">$9,000,000</option>
																				<option value="10000000">$10,000,000</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-md-2">
																		<input type="submit" value="Search Now" class="btn btn-secondary btn-lg btn-block text-uppercase font-size-sm">
																	</div>
																</div>
															</div>
														</form>
													</div>
												</li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>