<div class="body">
			
			<div role="main" class="main">
				
				<section class="page-header page-header-light page-header-more-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>Registeration</h1>
								<ul class="breadcrumb breadcrumb-valign-mid">
									<li><a routerLink="/demo-real-estate.html"  routerLinkActive="active">Home</a></li>
									<li class="active">Registeration</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<form id="contactForm" action="" method="POST">
								<input type="hidden" value="Contact Form" name="subject" id="subject">
								<div class="row">
									<div class="form-group">
										<div class="col-md-4">
											<label>Name *</label>
											<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
										</div>
										<div class="col-md-4">
											<label>Email *</label>
											<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
										</div>
										<div class="col-md-4">
											<label>Mobile *</label>
											<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-4">
											<label>City *</label>
											<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
										</div>
										<div class="col-md-4">
											<label>State *</label>
											<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
										</div>
										<div class="col-md-4">
											<label>Pincode *</label>
											<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
										</div>
									</div>
								</div>
								<!-- <div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Message *</label>
											<textarea maxlength="5000" data-msg-required="Please enter your message." rows="5" class="form-control" name="message" id="message" required></textarea>
										</div>
									</div>
								</div> -->
								<div class="row">
									<div class="col-md-12">
										<input type="submit" value="Register" class="btn btn-secondary mb-xlg" data-loading-text="Loading...">
									</div>
								</div>
							</form>
						</div>
						

					</div>

				</div>

				
			</div>
		</div>
