    <div role="main" class="main">

                <div class="slider-container rev_slider_wrapper" style="height: 650px;">
                    <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 550, 'disableProgressBar': 'on'}">
                        <ul>
                            <li data-transition="fade">
                                <img src="js/assets/carvan_assets/img/demos/real-estate/slides/Filmy_Carvan_Home_Image.jpg"  
                                    alt=""
                                    data-bgposition="center center" 
                                    data-bgfit="cover" 
                                    data-bgrepeat="no-repeat"
                                    class="rev-slidebg">


                            </li>
                            <li data-transition="fade">
                                <img src="js/assets/carvan_assets/img/demos/real-estate/slides/filmy-caravan-Home-Page Banner-2.jpg"  
                                    alt=""
                                    data-bgposition="center center" 
                                    data-bgfit="cover" 
                                    data-bgrepeat="no-repeat"
                                    class="rev-slidebg">
                            </li>
                        </ul>
                    </div>
                </div>
                

                <section class="section section-tertiary section-front mt-none">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 center">
                                <div class="row">
                                    <div class="col-md-12 center">
                                        <h2 class="font-weight-normal mb-xs">
                                        K Sera Sera <strong style="color: #e94b1c !important;" class="text-color-secondary font-weight-extra-bold">Box Office</strong>
                                        </h2>
                                    <!--    <p class="lead mb-xlg">Pellentesque pellentesque eget tempor tellus. </p> -->
                                        <div class="divider divider-primary divider-small divider-small-center mb-xl">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="counters with-borders">
                                        <div class="col-md-4 col-sm-8">
                                            <div class="counter counter-primary">
                                                <!-- <strong data-to="100" data-append="+">0</strong>
                                                <label>Films Produced</label> -->
                                                <strong data-to="100">0</strong>
                                                <label>Films Produced</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-8">
                                            <div class="counter counter-primary">
                                                <strong data-to="100">0</strong>
                                                <label>Films Distributed</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-8">
                                            <div class="counter counter-primary">
                                                <strong data-to="3000">0</strong>
                                                <label>Film Exhibited</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section m-none">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 center">
                                <h2 class="mb-xs">Our <strong>Portfolio</strong></h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 center">
                                <div class="owl-carousel owl-theme stage-margin rounded-nav owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'margin': 10, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40, 'items': 6, 'autoplay': true, 'autoplayTimeout': 3000}">
                                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-356px, 0px, 0px); transition: 0.25s; width: 1507px; padding-left: 40px; padding-right: 40px;"><div class="owl-item" style="width: 168.333px; margin-right: 10px;"><div>
                                        <img class="img-responsive" src="js/assets/carvan_assets/img/logos/logo-1.png" alt="">
                                    </div></div><div class="owl-item" style="width: 168.333px; margin-right: 10px;"><div>
                                        <img class="img-responsive" src="js/assets/carvan_assets/img/logos/logo-2.png" alt="">
                                    </div></div><div class="owl-item active" style="width: 168.333px; margin-right: 10px;"><div>
                                        <img class="img-responsive" src="js/assets/carvan_assets/img/logos/logo-3.png" alt="">
                                    </div></div><div class="owl-item active" style="width: 168.333px; margin-right: 10px;"><div>
                                        <img class="img-responsive" src="js/assets/carvan_assets/img/logos/logo-4.png" alt="">
                                    </div></div><div class="owl-item active" style="width: 168.333px; margin-right: 10px;"><div>
                                        <img class="img-responsive" src="js/assets/carvan_assets/img/logos/logo-5.png" alt="">
                                    </div></div><div class="owl-item active" style="width: 168.333px; margin-right: 10px;"><div>
                                        <img class="img-responsive" src="js/assets/carvan_assets/img/logos/logo-6.png" alt="">
                                    </div></div><div class="owl-item active" style="width: 168.333px; margin-right: 10px;"><div>
                                        <img class="img-responsive" src="js/assets/carvan_assets/img/logos/logo-4.png" alt="">
                                    </div></div><div class="owl-item active" style="width: 168.333px; margin-right: 10px;"><div>
                                        <img class="img-responsive" src="js/assets/carvan_assets/img/logos/logo-2.png" alt="">
                                    </div></div></div></div><div class="owl-nav"><div class="owl-prev"></div><div class="owl-next disabled"></div></div><div class="owl-dots disabled"></div></div>
                            </div>
                        </div>

                        <div class="row mt-lg">
                            <div class="col-md-2 col-xs-6 center mb-lg">
                                <img src="js/assets/carvan_assets/img/team/team-11.jpg" class="img-responsive" alt="">
                                <h5 class="mt-sm mb-none">Bruno Doe</h5>
                                <p class="mb-none">CEO</p>
                            </div>
                            <div class="col-md-2 col-xs-6 center mb-lg">
                                <img src="js/assets/carvan_assets/img/team/team-12.jpg" class="img-responsive" alt="">
                                <h5 class="mt-sm mb-none">Jeff Doe</h5>
                                <p class="mb-none">Developer</p>
                            </div>
                            <div class="col-md-2 col-xs-6 center mb-lg">
                                <img src="js/assets/carvan_assets/img/team/team-13.jpg" class="img-responsive" alt="">
                                <h5 class="mt-sm mb-none">Jessica Doe</h5>
                                <p class="mb-none">Marketing</p>
                            </div>
                            <div class="col-md-2 col-xs-6 center mb-lg">
                                <img src="js/assets/carvan_assets/img/team/team-14.jpg" class="img-responsive" alt="">
                                <h5 class="mt-sm mb-none">Greg Doe</h5>
                                <p class="mb-none">SEO</p>
                            </div>
                            <div class="col-md-2 col-xs-6 center mb-lg">
                                <img src="js/assets/carvan_assets/img/team/team-15.jpg" class="img-responsive" alt="">
                                <h5 class="mt-sm mb-none">Alex Doe</h5>
                                <p class="mb-none">Support</p>
                            </div>
                            <div class="col-md-2 col-xs-6 center mb-lg">
                                <img src="js/assets/carvan_assets/img/team/team-16.jpg" class="img-responsive" alt="">
                                <h5 class="mt-sm mb-none">Melissa Doe</h5>
                                <p class="mb-none">Support</p>
                            </div>
                        </div>
                    </div>
                </section>

        <!--     <?php 
                // include 'footer.php';
            ?> -->
            </div>
