<div class="body">
<div role="main" class="main">
				
				<section class="page-header page-header-light page-header-more-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>About Us</h1>
								<ul class="breadcrumb breadcrumb-valign-mid">
									<li><a href="demo-real-estate.html">Home</a></li>
									<li><a href="#">About</a></li>
									<li class="active">About Us</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row pb-xl pt-md">
						<div class="col-md-9">
							
							<p align="justify" class="lead mb-xl">K Sera Sera Box Office is a fully owned Subsidiary of KSS Limited, a leading 360* Media & Entertainment Group. As a major player in Indian cinema, KSS group releases 3000 plus films every year leveraging its Digital technology platform and has produced over a dozen movies that includes a few box-office blockbusters.</p>

							<div class="row mt-xlg">
								<div align="center" class="col-md-12">
									<div style="margin-bottom: 0px !important;" class="heading heading-border heading-middle-border heading-middle-border-center">
										<h4><strong>K SERA SERA,</strong> A 360° Media Entertainment Company</h4>
									</div>
									<ul class="breadcrumb" style="background-color: #fff !important;">
										<li><a href="#">Production</a></li>
										<li><a href="#">Distribution</a></li>
										<li><a href="#">Film Exhibition</a></li>
									</ul>
								</div>
							</div>

							<img width="400" class="img-responsive pull-right ml-xl mb-xl mt-xs" alt="" 
			src="js/assets/carvan_assets/img/demos/real-estate/agency.jpg">

							<p align="justify">K Sera Sera (also known as KSS Ltd.) was incorporated in September 1995, is headquartered in Mumbai and is a publicly listed company, listed on the BSE & NSE. As a major player in Indian Cinema, KSS has produced and distributed over 100 films, including some box-office blockbusters like Golmaal, Partner, Sarkar , Sarkar Raj, Ab Tak Chappan & many more. KSS is headed by a team of professionals and technocrats, whose collective experience forms the heart of this organization. KSS, as it is commonly known, focuses on the entertainment film business with three business entities focusing on digital cinema rollout, the building of Miniplex theater screens, and alternative content programming in movie theater, respectively.
							</p>

							<div class="post-meta">
								<span style="float: right;" class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0">

								<a routerLink="/kss-box-office-what-we-do" routerLinkActive="active" class="btn btn-xs btn-primary">Read more...</a></span>
							</div>

						</div>
						<div class="col-md-3">
							<aside class="sidebar">
								<div class="agents text-color-light center">
									<h4 class="text-light pt-xl m-none">Our Portfolio</h4>
									<ul class="thumbnail-gallery" data-plugin-lightbox data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}">
										<li>
											<a title="Benefits 1" href="js/assets/carvan_assets/img/benefits/benefits-1.jpg">
												<span class="thumbnail mb-none">
			<img src="js/assets/carvan_assets/img/benefits/SARKAR.jpg" 
				   alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 2" href="js/assets/carvan_assets/img/benefits/benefits-2.jpg">
												<span class="thumbnail mb-none">
		   <img src="js/assets/carvan_assets/img/benefits/AB-TAK-CHHAPAN.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 3" href="js/assets/carvan_assets/img/benefits/benefits-3.jpg">
												<span class="thumbnail mb-none">
			<img src="js/assets/carvan_assets/img/benefits/Golmal.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 4" href="js/assets/carvan_assets/img/benefits/benefits-4.jpg">
												<span class="thumbnail mb-none">
			<img src="js/assets/carvan_assets/img/benefits/Partner.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 5" href="js/assets/carvan_assets/img/benefits/benefits-5.jpg">
												<span class="thumbnail mb-none">
			<img src="js/assets/carvan_assets/img/benefits/BHAGAM-BHAG.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 6" href="js/assets/carvan_assets/img/benefits/benefits-6.jpg">
												<span class="thumbnail mb-none">
			<img src="js/assets/carvan_assets/img/benefits/ek.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 6" href="js/assets/carvan_assets/img/benefits/benefits-6.jpg">
												<span class="thumbnail mb-none">
			<img src="js/assets/carvan_assets/img/benefits/MFM.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 6" href="js/assets/carvan_assets/img/benefits/benefits-6.jpg">
												<span class="thumbnail mb-none">
			<img src="js/assets/carvan_assets/img/benefits/NO-ENTRY.jpg" alt="">
												</span>
											</a>
										</li>
									</ul>
								</div>

							</aside>
						</div>
					</div>

				</div>

				<!-- <?php 
				include 'footer.php';
				?> -->
			</div>
	</div>