<div class="body">
			<!-- <?php 
				include 'header.php';
			?> -->
			<div role="main" class="main">
				
				<section class="page-header page-header-light page-header-more-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>1234 SW 63rd Ave<span>South Miami - <a href="#map" data-hash data-hash-offset="100">(Map Location)</a></span></h1>
								<ul class="breadcrumb breadcrumb-valign-mid">
									<li><a href="demo-real-estate.html">Home</a></li>
									<li><a href="demo-real-estate-properties.html">Properties</a></li>
									<li class="active">Detail</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row pb-xl pt-md">
						<div class="col-md-9">
									
							<div class="row">
								<div class="col-md-7">

									<span class="thumb-info-listing-type thumb-info-listing-type-detail background-color-secondary text-uppercase text-color-light font-weight-semibold p-sm pl-md pr-md">
										for sale
									</span>

									<div class="thumb-gallery">
										<div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}">
											<div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav-hover" id="thumbGalleryDetail">
												<div>
													<a href="img/demos/real-estate/listings/listing-detail-1.jpg">
														<span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
															<span class="thumb-info-wrapper font-size-xl">
																<img alt="Property Detail" src="js/assets/carvan_assets/img/demos/real-estate/listings/listing-detail-1.jpg" class="img-responsive">
																<span class="thumb-info-title font-size-xl">
																	<span class="thumb-info-inner font-size-xl"><i class="icon-magnifier icons font-size-xl"></i></span>
																</span>
															</span>
														</span>
													</a>
												</div>
												<div>
													<a href="img/demos/real-estate/listings/listing-detail-2.jpg">
														<span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
															<span class="thumb-info-wrapper font-size-xl">
																<img alt="Property Detail" src="js/assets/carvan_assets/img/demos/real-estate/listings/listing-detail-2.jpg" class="img-responsive">
																<span class="thumb-info-title font-size-xl">
																	<span class="thumb-info-inner font-size-xl"><i class="icon-magnifier icons font-size-xl"></i></span>
																</span>
															</span>
														</span>
													</a>
												</div>
												<div>
													<a href="img/demos/real-estate/listings/listing-detail-3.jpg">
														<span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
															<span class="thumb-info-wrapper font-size-xl">
																<img alt="Property Detail" src="js/assets/carvan_assets/img/demos/real-estate/listings/listing-detail-3.jpg" class="img-responsive">
																<span class="thumb-info-title font-size-xl">
																	<span class="thumb-info-inner font-size-xl"><i class="icon-magnifier icons font-size-xl"></i></span>
																</span>
															</span>
														</span>
													</a>
												</div>
												<div>
													<a href="img/demos/real-estate/listings/listing-detail-4.jpg">
														<span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
															<span class="thumb-info-wrapper font-size-xl">
																<img alt="Property Detail" src="js/assets/carvan_assets/img/demos/real-estate/listings/listing-detail-4.jpg" class="img-responsive">
																<span class="thumb-info-title font-size-xl">
																	<span class="thumb-info-inner font-size-xl"><i class="icon-magnifier icons font-size-xl"></i></span>
																</span>
															</span>
														</span>
													</a>
												</div>
											</div>
										</div>

										<div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs">
											<div>
												<img alt="Property Detail" src="js/assets/carvan_assets/img/demos/real-estate/listings/listing-detail-1-thumb.jpg" class="img-responsive cur-pointer">
											</div>
											<div>
												<img alt="Property Detail" src="js/assets/carvan_assets/img/demos/real-estate/listings/listing-detail-2-thumb.jpg" class="img-responsive cur-pointer">
											</div>
											<div>
												<img alt="Property Detail" src="js/assets/carvan_assets/img/demos/real-estate/listings/listing-detail-3-thumb.jpg" class="img-responsive cur-pointer">
											</div>
											<div>
												<img alt="Property Detail" src="js/assets/carvan_assets/img/demos/real-estate/listings/listing-detail-4-thumb.jpg" class="img-responsive cur-pointer">
											</div>
										</div>
									</div>

								</div>
								<div class="col-md-5">
									
									<table class="table table-striped">
										<colgroup>
											<col width="35%">
											<col width="65%">
										</colgroup>
										<tbody>
											<tr>
												<td class="background-color-primary text-light pt-md">
													Price
												</td>
												<td class="font-size-xl font-weight-bold pt-sm pb-sm background-color-primary text-light">
													$3,595,000
												</td>
											</tr>
											<tr>
												<td>
													Listing ID
												</td>
												<td>
													#123456
												</td>
											</tr>
											<tr>
												<td>
													Address
												</td>
												<td>
													1234 SW 63rd Ave - South Miami - Florida<br><a href="#map" class="font-size-sm" data-hash data-hash-offset="100">(Map Location)</a>
												</td>
											</tr>
											<tr>
												<td>
													Neighborhood
												</td>
												<td>
													Porto Village
												</td>
											</tr>
											<tr>
												<td>
													Beds
												</td>
												<td>
													7
												</td>
											</tr>
											<tr>
												<td>
													Baths
												</td>
												<td>
													8
												</td>
											</tr>
											<tr>
												<td>
													Garages
												</td>
												<td>
													2
												</td>
											</tr>
											<tr>
												<td>
													Living Area
												</td>
												<td>
													8,000
												</td>
											</tr>
											<tr>
												<td>
													Lot Size
												</td>
												<td>
													20,000
												</td>
											</tr>
											<tr>
												<td>
													Year Built
												</td>
												<td>
													1999
												</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

							<div class="row">
								<div class="col-md-12">

									<h4 class="mt-md mb-md">Description</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

									<p>Ctrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac feugiat nibh adipiscing sit amet. In eu juiverra leo. Vestibulum ante ipsum primis in faucibus orci.</p>

									<hr class="solid tall">

									<h4 class="mt-md mb-md">Features</h4>

									<ul class="list list-icons list-secondary row m-none">
										<li class="col-sm-6 col-md-4"><i class="fa fa-check"></i> Air conditioning <a href="#" data-plugin-tooltip data-toggle="tooltip" data-placement="top" title="+ Central Heating"><i class="fa fa-info-circle"></i></a></li>
										<li class="col-sm-6 col-md-4"><i class="fa fa-check"></i> Home Theater</li>
										<li class="col-sm-6 col-md-4"><i class="fa fa-check"></i> Central Heating</li>
										<li class="col-sm-6 col-md-4"><i class="fa fa-check"></i> Laundry</li>
										<li class="col-sm-6 col-md-4"><i class="fa fa-check"></i> Balcony</li>
										<li class="col-sm-6 col-md-4 custom-list-item-disabled"><i class="fa fa-check"></i> Storage</li>
										<li class="col-sm-6 col-md-4 custom-list-item-disabled"><i class="fa fa-check"></i> Garage</li>
										<li class="col-sm-6 col-md-4 custom-list-item-disabled"><i class="fa fa-check"></i> Yard</li>
										<li class="col-sm-6 col-md-4"><i class="fa fa-check"></i> Electric Water Heater</li>
										<li class="col-sm-6 col-md-4"><i class="fa fa-check"></i> Deck</li>
										<li class="col-sm-6 col-md-4"><i class="fa fa-check"></i> Gym</li>
										<li class="col-sm-6 col-md-4"><i class="fa fa-check"></i> Ocean View</li>
									</ul>

									<hr class="solid tall">

									<h4 class="mt-md mb-md" id="map">Map Location</h4>
									<div id="googlemaps" class="google-map m-none mb-xlg"></div>

								</div>
							</div>

						</div>
						<div class="col-md-3">
							<aside class="sidebar">
								<div class="agents text-color-light center">
									<h4 class="text-light pt-xl m-none">Property Agents</h4>
									<div class="owl-carousel owl-theme nav-bottom rounded-nav pl-xs pr-xs pt-md m-none" data-plugin-options="{'items': 1, 'loop': false, 'dots': false, 'nav': true}">
										<div class="pr-sm pl-sm">
											<a href="demo-real-estate-agents-detail.html" class="text-decoration-none">
												<span class="agent-thumb">
													<img class="img-responsive img-circle" src="js/assets/carvan_assets/img/team/team-11.jpg" alt />
												</span>
												<span class="agent-infos text-light pt-md">
													<strong class="text-uppercase font-weight-bold">Bruno Doe</strong>
													<span class="font-weight-light">123-456-789</span>
													<span class="font-weight-light">bruno@domain.com</span>
												</span>
											</a>
										</div>
										<div class="pr-sm pl-sm">
											<a href="demo-real-estate-agents-detail.html" class="text-decoration-none">
												<span class="agent-thumb">
													<img class="img-responsive img-circle" src="js/assets/carvan_assets/img/team/team-12.jpg" alt />
												</span>
												<span class="agent-infos text-light pt-md">
													<strong class="text-uppercase font-weight-bold">Jeff doe</strong>
													<span class="font-weight-light">123-456-789</span>
													<span class="font-weight-light">jeffdoe@domain.com</span>
												</span>
											</a>
										</div>
										<div class="pr-sm pl-sm">
											<a href="demo-real-estate-agents-detail.html" class="text-decoration-none">
												<span class="agent-thumb">
													<img class="img-responsive img-circle" src="js/assets/carvan_assets/img/team/team-13.jpg" alt />
												</span>
												<span class="agent-infos text-light pt-md">
													<strong class="text-uppercase font-weight-bold">Jessica Doe</strong>
													<span class="font-weight-light">123-456-789</span>
													<span class="font-weight-light">jessicadoe@domain.com</span>
												</span>
											</a>
										</div>
									</div>
								</div>

								<h4 class="pt-lg mb-md text-color-dark">Request Information</h4>
								<p>Contact us or give us a call to request more information</p>

								<form id="contactForm" action="php/contact-form.php" method="POST" class="mb-lg">
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>Your name *</label>
												<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>Your email address *</label>
												<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>Subject</label>
												<input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>Message *</label>
												<textarea maxlength="5000" data-msg-required="Please enter your message." rows="6" class="form-control" name="message" id="message" required></textarea>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<input type="submit" value="Send Message" class="btn btn-secondary mb-xl" data-loading-text="Loading...">

											<div class="alert alert-success hidden" id="contactSuccess">
												Message has been sent to us.
											</div>

											<div class="alert alert-danger hidden" id="contactError">
												Error sending your message.
											</div>
										</div>
									</div>
								</form>

							</aside>
						</div>
					</div>

				</div>

				<!-- <?php 
				include 'footer.php';
				?> -->
			</div>
		</div>