<div class="body">
			<!-- <?php 
				include 'header.php';
			?> -->
			<div role="main" class="main">
				
				<section class="page-header page-header-light page-header-more-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>Management Team</h1>
								<ul class="breadcrumb breadcrumb-valign-mid">
									<li><a href="demo-real-estate.html">Home</a></li>
									<li><a href="#">About</a></li>
									<li class="active">Management Team</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

								<h4 class="heading-primary">Meet the Team</h4>
								<ul class="nav nav-list mb-xl show-bg-active">
									<li class="active"><a data-hash data-hash-offset="85" href="#first">Satish Panchariya - Group Chairmam</a></li>
									<li><a data-hash data-hash-offset="85" href="#second">Nikita Rattanshi - Director</a>
										
									</li>
									<li><a data-hash data-hash-offset="85" href="#third">Siddharth Kumar - Director</a>
									</li>
								
								</ul>

							</aside>
						</div>

						<div class="col-md-9">
							<div class="row mt-xlg">
								<div class="col-md-12">
									
									<h4 id="first"><strong>Satish Panchariya</strong> Group Chairman</h4>
									
								</div>
							</div>

							<img width="150" height="200" class="pull-left mr-xl mb-xl mt-xs" alt="" 
					src="js/assets/carvan_assets/img/demos/real-estate/Satish-Punchariya-Group-Chairman-K-Sera-Sera-limited.jpg">

							<p align="justify">Mr. Satish Panchariya began his personal enterpreunarship career at the tender age of 17 in the textile industry by establishing the highly successful Alka Spinners Ltd in 1989 which subsequently in 1994 went on to be listed in the Bombay Stock Exchange as Alka Sales Ltd. In pursuit of diversification of his Business interests globally particularly in Investment Banking and Precious Metals, in 19 (year needed), he founded Vinayak Sahakari Bank in Ahmedabad. He has also gone on to become a Director in City Gold Group, Australia that has Gold mining investments exceeding $100 Million.</p>

							<p align="justify">In addition to having passionate sensitivities towards corporate social responsibilities, Mr. Panchariya is a law abiding astute businessman who has a deep ongoing quest for updated regulatory compliance and reform laws related to Income, Excise, Customs Taxes, (SEBI), (BIFR) and Debt Recovery.</p>

							<p align="justify">Mr. Panchariya is Group Chairman of KSS Limited which currently holds Premier Brands like K Sera Sera Digital Cinema, K Sera Sera Miniplex, Birla Gold & Precious Metals  “CHERISHGOLD & CHERISHLIFESTYLES” & Birla Jewels  “BJEWELZ”.</p>
										
							<div class="row mt-xlg">
								<div class="col-md-12">
									
									<h4 id="second"><strong>Nikita Rattanshi</strong> Director</h4>
								</div>
							</div>

							<img width="150" height="200" class="pull-left mr-xl mb-xl mt-xs" alt="" 
		src="js/assets/carvan_assets/img/demos/real-estate/Nikita-Rattanshi.jpg">

							<p align="justify">Born and brought up in Tanzania, Nikita moved to India in 2013 to take charge of the ‘Birla Capital & Financial Services’ which catered the Investment Banking and Merchant banking industries, as an Executive Director. The first born scion to a business family, her knack for ‘International Trade’ and a passion for contributing towards the development of the robust Indian economy inspired her to acquire a Masters in International Business.</p>

							<p align="justify">Her key interests lie in running a huge business empire such as Birla. Ms. Nikita has excelled herself with merchant banking and investment banking and has an excellent practical knowledge about Securities & Exchange Board of India (SEBI)’s rules and regulations.</p>

							<p align="justify">Not only this, she has studied over FCCB Transactions, GRD Transactions, Initial Public Offerings, Foreign issues and many other equivalent topics. Because of her exorbitant skills, in the year 2014, she was able to achieve milestones for Birla Financial Distribution and gained a lot of retail experience and third party distribution. She is a leader who has a vast experience in topics such as mass psychology, consumer behavior, retail markets, equities, and various others. She even has a good knowledge regarding Reserve Bank of India (R.B.I) and banking laws.</p>

							<p align="justify">Ms. Nikita’s intellect and will with a blend of trying and experimenting things, made Birla enter the jewellery market as Birla Gold& Precious Metal Ltd in the year 2014. The company has not only entered the E-Commerce industry but is even launching up its retail stores across the Indian subcontinent in 2015. Her successful E-Commerce startup and tremendous love for jewellery made her come up with Birla Jewels Ltd. Birla Jewels Ltd. also known as BJewelz, is the company’s upcoming retail store which is going to expand over all the cities of India. A tough business mind, her grid and determination, and a positive attitude have made Ms. Nikita Rattanshi one of the young iconic personalities of the 21st century.</p>

							<p align="justify">As a visionary she plans to see Birla Gold & Precious Metals Ltd., establish a market leader, while also being an organization synonymous with the word ‘Gold’ and ‘Trust’.</p>

							<div class="row mt-xlg">
								<div class="col-md-12">
									
									<h4 id="third"><strong>Siddharth Kumar</strong> Director</h4>
									
								</div>
							</div>

							<img width="150" height="200" class="pull-left mr-xl mb-xl mt-xs" alt=""
src="js/assets/carvan_assets/img/demos/real-estate/Siddharth-Kumar-profie.jpg">

							<p align="justify">As a master of execution behind the company’s vision, Mr. Siddharth Kumar has been very instrumental in the success of Birla Gold. He strongly believes in providing the highest quality products & Services to all customers & Business Partners. With his extensive industry experience, he has sphere headed the organization to bring in greater professionalism, create a corporate identity and raise product standards.</p>

							<p align="justify">His Pursuit of quality and precision has created a corporate culture where these guidelines are followed at every step. His innovate approach and deep insight in customer needs and market trends led him to develop a Birla Jewels.</p>

							<p align="justify">His Appetite for challenges led to the beginning of a new era for Birla Jewels. Mr. Kumar is now pursuing his vision to establish luxury retail chain of stores across India.</p>
		
						</div>
						
					</div>
				</div>

				<!-- <?php 
				include 'footer.php';
				?> -->
			</div>
		</div>