<div class="body">
			<!-- <?php 
				include 'header.php';
			?> -->
			<div role="main" class="main">

				<div class="slider-container light rev_slider_wrapper" style="height: 650px;">
					<div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'navigation': {'arrows': {'enable': true, 'left':{'container':'slider','h_align':'right','v_align':'center','h_offset':20,'v_offset':-80},'right':{'container':'slider','h_align':'right','v_align':'center','h_offset':20,'v_offset':80}}}}">
						
						<ul>
							<li data-transition="fade">
								<img src="js/assets/carvan_assets/img/demos/real-estate/slides/filmy-caravan.jpg"  
									alt=""
									data-bgposition="center center" 
									data-bgfit="cover" 
									data-bgrepeat="no-repeat"
									class="rev-slidebg">

								<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme skrollable skrollable-after" 
									id="slide-529-layer-1" 
									data-x="left" data-hoffset="15"
									data-y="center" data-voffset="0"
									data-width="360" 
									data-height="360" 
									data-whitespace="nowrap" 
									data-transform_idle="o:1;" 
									data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
									data-transform_out="x:left;s:1200;e:Power3.easeInOut;" 
									data-start="500" 
									data-responsive_offset="on" 
									style="background-color: rgb(255, 255, 255); padding: 30px; overflow: hidden;">
										<span class="featured-border" style="border: 2px solid #dcdde0; width: 90%; position: absolute; height: 90%; top: 5%; left: 5%;"></span>
										<span class="feature-tag" data-width="50" data-height="50" style="background: #e9471d; color: #FFF; text-transform: uppercase; padding: 15px 102px; position: absolute; right: -24%; top: 6%; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);">
											KSS Group
										</span>
									</div>

								<div class="tp-caption main-label"
									data-x="left" data-hoffset="35"
									data-y="center" data-voffset="-50"
									data-start="1500"
									data-whitespace="nowrap"						 
									data-transform_in="y:[-100%];s:500;"
									data-transform_out="opacity:0;s:500;"
									data-textAlign="center" 
									style="z-index: 5; font-size: 1.9em; color: #000; text-transform: uppercase; font-weight: 900; text-shadow: none; width: 27vw; max-width: 320px;"
									data-mask_in="x:0px;y:0px;">Filmy Caravan</div>

								<div class="tp-caption"
									data-x="left" data-hoffset="35"
									data-y="center" data-voffset="0"
									data-start="1500"
									data-height="44"
									data-whitespace="nowrap"						 
									data-transform_idle="o:1;" 
									data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" 
									data-transform_out="x:left;s:1200;e:Power3.easeInOut;"
									data-textAlign="center" 
									style="z-index: 5; font-size: 3em; font-weight: 400; text-transform: uppercase; color: #243e4d; line-height: 0.8em; width: 27vw; max-width: 320px;"
									data-mask_in="x:0px;y:0px;">9,000 Theaters</div>

								<a class="tp-caption slide-button"
									href="#highlights" 
									data-x="left" data-hoffset="108"
									data-y="center" data-voffset="60"
									data-start="1500"
									data-whitespace="nowrap"						 
									data-transform_in="y:[100%];s:500;"
									data-transform_out="opacity:0;s:500;"
									style="z-index: 5; font-size: 1em; text-transform: uppercase; background: #243e4d; padding: 12px 35px; color: #FFF;"
									data-mask_in="x:0px;y:0px;">Highlights</a>
							</li>
							
						</ul>
					</div>
				</div>
			
				<div class="container">

					<div class="row mt-xlg">
						<div class="col-md-12">
							<div class="heading heading-border heading-middle-border heading-middle-border-center">
								<h2><strong>FILMY CARAVAN</strong> Birth Of Revolutionary Concept</h2>
							</div>
						</div>
					</div>

					<div class="row pb-xl pt-md">
						<div class="col-md-9">
							<!-- <p align="justify"> -->
								<ul class="list list-icons list-icons-sm">
								<li><i class="fa fa-caret-right"></i> As part of its CSR & broad vision of its promoters to facilitate the rural populace at Tehsil & Gram Panchayat level with latest entertainment while leveraging the existing technological & distribution strengths of the group.
								</li>
								<li><i class="fa fa-caret-right"></i> The idea  of this revolutionary concept came after analyzing current theatrical entertainment market which comprises roughly 9000 theater in entire nation, majorly at metro cities and district level.
								</li>
								<li><i class="fa fa-caret-right"></i> Reach of these theaters is limited to just 30% population which resides urban and semi-urban areas. "China have about 45,000 screens whereas, in India, we barely have 8,000 screens for all regional languages
								.</li>
								<li><i class="fa fa-caret-right"></i> The gap between population residing at villages and districts head quarter towns is as huge as 70% and the pity is that this critical mass is dependent on closest cities/towns for real time theatrical entertainment experience.
								</li>
								<li><i class="fa fa-caret-right"></i> The above gap which reflects poorly on theatre screen penetration across the country & taking into count KSS's current capabilities, we look forward to bridge this vast gap and provide world class entertainment at every village level free of cost that compliments our social welfare responsibility too.
								</li>
								<li><i class="fa fa-caret-right"></i> The OPEX recovery shall be extracted out of advertisements being run for the audience through these screens.
								</li>
								<li><i class="fa fa-caret-right"></i> KSS group is second largest well and established digital technology player and is connect to various private corporates and government who mostly advertise their products through our digital platforms.
								</li>
							</ul>
						<!-- </p> -->

							<div id="highlights" class="row mt-xlg">
								<div class="col-md-12">
									<div class="heading heading-border heading-middle-border heading-middle-border-center">
										<h2>Highlights</h2>
									</div>
								</div>
							</div>

							<img width="400" class="img-responsive pull-right ml-xl mb-xl mt-xs" alt="" src="js/assets/carvan_assets/img/demos/real-estate/agency.jpg">

							<ul class="list list-icons list-icons-sm">
								<li><i class="fa fa-caret-right"></i> Free of cost world class entertainment at doorstep</li>
								<li><i class="fa fa-caret-right"></i> Targets villages & gram panchayat population</li>
								<li><i class="fa fa-caret-right"></i> Showcasing latest bollywood & regional movies</li>
								<li><i class="fa fa-caret-right"></i> HD technology picture clarity</li>
								<li><i class="fa fa-caret-right"></i> Dolby 5.2 surround sound set up</li>
								<li><i class="fa fa-caret-right"></i> Theatrical Screen Size</li>
								<li><i class="fa fa-caret-right"></i> Additional attractions- Food & Cloth exhibitions</li>
								<li><i class="fa fa-caret-right"></i> Support in social cause through selective screening</li>
								<li><i class="fa fa-caret-right"></i> Employment generation in every state</li>
								<li><i class="fa fa-caret-right"></i> Bringing the masses on same platform</li>
								<li><i class="fa fa-caret-right"></i> Rural Upliftmen</li>
							</ul>	

						</div>

						<div class="col-md-3">
							<aside class="sidebar">
								<div class="agents text-color-light center">
									<h4 class="text-light pt-xl m-none">Our Portfolio</h4>
									<ul class="thumbnail-gallery" data-plugin-lightbox data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}">
										<li>
											<a title="Benefits 1" href="js/assets/carvan_assets/img/benefits/benefits-1.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/SARKAR.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 2" href="js/assets/carvan_assets/img/benefits/benefits-2.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/AB-TAK-CHHAPAN.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 3" href="js/assets/carvan_assets/img/benefits/benefits-3.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/Golmal.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 4" href="js/assets/carvan_assets/img/benefits/benefits-4.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/Partner.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 5" href="js/assets/carvan_assets/img/benefits/benefits-5.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/BHAGAM-BHAG.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 6" href="js/assets/carvan_assets/img/benefits/benefits-6.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/ek.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 7" href="js/assets/carvan_assets/img/benefits/benefits-6.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/MFM.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 8" href="js/assets/carvan_assets/img/benefits/benefits-6.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/NO-ENTRY.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 9" href="js/assets/carvan_assets/img/benefits/benefits-6.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/NO-ENTRY.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 10" href="js/assets/carvan_assets/img/benefits/benefits-6.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/NO-ENTRY.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 11" href="js/assets/carvan_assets/img/benefits/benefits-6.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/NO-ENTRY.jpg" alt="">
												</span>
											</a>
										</li>
										<li>
											<a title="Benefits 12" href="js/assets/carvan_assets/img/benefits/benefits-6.jpg">
												<span class="thumbnail mb-none">
													<img src="js/assets/carvan_assets/img/benefits/NO-ENTRY.jpg" alt="">
												</span>
											</a>
										</li>
									</ul>
								</div>
								
							</aside>
						</div>	

					</div>

				</div>

			<!-- 	<?php 
				include 'footer.php';
				?> -->
			</div>
		</div>